<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" version="2.1.1" />
  <package id="dotnet-6.0-desktopruntime" version="6.0.25" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="ffmpeg" version="7.0.1" />
  <package id="git" version="2.45.2" />
  <package id="git.install" version="2.45.2" />
  <package id="gitextensions" version="4.2.1" />
  <package id="golang" version="1.22.4" />
  <package id="gping" version="1.16.1" />
  <package id="gsudo" version="2.5.1" />
  <package id="hugo-extended" version="0.119.0" />
  <package id="kubernetes-cli" version="1.20.2" />
  <package id="kubernetes-helm" version="3.10.3" />
  <package id="micro" version="2.0.11" />
  <package id="mkcert" version="1.4.4" />
  <package id="nilesoft-shell" version="1.9.15" />
  <package id="nodejs" version="21.2.0" />
  <package id="nodejs.install" version="21.2.0" />
  <package id="nodejs-lts" version="14.15.0" />
  <package id="nvs" version="1.5.2" />
  <package id="oh-my-posh" version="21.5.0" />
  <package id="poshgit" version="0.7.3.1" />
  <package id="sass" version="1.25.0" />
  <package id="typescript" version="5.4.5" />
  <package id="vcredist140" version="14.32.31332" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="wiztree" version="4.19.0" />
</packages>