<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="azure-kubelogin" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cloudflared" />
  <package id="cosmosdbexplorer" />
  <package id="Everything" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git.install" />
  <package id="gsudo" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="less" />
  <package id="obsidian" />
  <package id="oh-my-posh" />
  <package id="postman" />
  <package id="servicebusexplorer" />
  <package id="terraform" />
  <package id="wiztree" />
</packages>